<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pres.peixinyi.sinan.module.sinan.mapper.SnBookmarkMapper">
  <resultMap id="BaseResultMap" type="pres.peixinyi.sinan.module.sinan.entity.SnBookmark">
    <!--@mbg.generated-->
    <!--@Table sn_bookmark-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="space_id" jdbcType="VARCHAR" property="spaceId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="LONGVARCHAR" property="icon" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="star" jdbcType="BOOLEAN" property="star" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, space_id, `name`, pinyin, abbreviation, description, url, icon, num, 
    star, create_time, update_time, deleted
  </sql>
</mapper>